body, button, input, optgroup, select, textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

html {
  line-height: 1.5;
  color: #1F1F1F;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 18px;

  &.-primary {
    color: #FFFFFF;
    text-transform: uppercase;
    background: #420F8C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &.-rounded {
    padding: 8px 10px;
    border-radius: 26px;
    font-size: 11px;
    color: #FFFFFF;
    background: #5C18BF;
  }
}

.title {
  margin-top: 30px;
  font-weight: 500;
  font-size: 18px;
  color: #4C169C;

  &.-center {
    text-align: center;
  }
}


.badges {
  margin-top: 7px;

  > div {
    display: inline-block;
  }

  .badge{
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    text-transform: uppercase;

    &.-job_place {
      margin-right: 10px;
    }

    &.-light {
      background: #9322C4;
    }

    &.-dark {
      background: #5C18BF;
    }
  }
}
