.footer {
  margin-top: 40px;
  padding: 24px 0;
  font-size: 14px;
  line-height: 1.5;
  color: #FFFFFF;
  background: linear-gradient(180deg, #8A1CC7 -26.5%, #5C18BF 119%);

  &__description {
    a {
      color: #FFFFFF;
      text-decoration: underline;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__social_networks {
    text-align: right;

    &__links {
      margin-top: 5px;
      a {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
